<h1>Place an Order:</h1>

<form id="new-order" action="/add-order" method="POST">

  Customer:<br>
  <select name="customers">
    {{#each customer}}
    <option value="{{first_name}} {{last_name}}"></option>
    <br>
    {{/each}}
  </select>
  <br><br>

  Product:<br>
  <select name="products">
    {{#each product}}
    <option value="{{name}}">{{name}}</option>
    <br>
    Quantity (1 - 99):
    <input type="number" name="quantity" min="1" max="99">
     {{/each}}
  </select>
  <br><br>

    Salesperson:<br>
    <select name="salesperson">
      {{#each salesperson}}
      <option value="{{first_name}} {{last_name}}"></option>
      <br>
      {{/each}}
    </select> 
    <br><br>
    <input type="submit" value="Submit">
   </select>
</form>