<h1>Products</h1>

<div class="add-form">
    <h2>Add new Product:</h2>
    <form id="add-product" action="/products" method="POST">
    Name:<br>
    <input type="text" name="product_name">
    <br><br>
    Description:<br>
    <input type="text" name="description">
    <br><br>
    Quantity (between 1 and 99):
    <input type="number" name="quantity" min="1" max="99">
    <br><br>
    Price: (USD):
    <input type="number" name="price" min="1" step="any" />
    <br><br>
    <input type="submit" value="Submit">
    </form>
</div>

<div class="search-bar">
    <h3>Search Product</h3>
    <form action="/products" method="get">
        <input type="text" name="product_name">
        <input type="Submit">
    </form>
</div>

<h3>Products List:</h3>
<div class="list-block">
    <table>
        <thead>
            <th>Name</th>
            <th>Quantity</th>
            <th>Desc</th>
            <th>Price</th>
        </thead>
        {{#each products}}
        <tr>
            <td>{{name}}</td>
            <td>{{quantity}}</td>
            <td>{{description}}</td>
            <td>$ {{price}}</td>
            <td><a href="/products/{{product_id}}">Update</a></td>
            <td><button onclick="deleteProduct({{product_id}})">Delete</button></td>
        </tr>
        {{/each}}
    </table>
</div>



