<h1>Sales People</h1>

<div class="add-form">
  <h3>Add new Sales Person</h3>
  <form id="add-salespeople" action="/salespeople" method="POST">
    First name:<br>
    <input type="text" name="fname_input">
    <br>
    Last name:<br>
    <input type="text" name="lname_input">
    <br><br>
    Salary:
    <input type="number" name="salary">
    <br><br>
    <input type="submit" value="Submit">
  </form>
</div>

<div class="search-bar">
  <form id="assign-salesrep" action="/salespeople/associate" method="POST">
    <h3>Associate Salesperson with Customer</h3>
    Customer:<br>
      <select name="customers">
        {{#each customers}}
        <option value="{{customer_id}}" name="4">{{first_name}} {{last_name}}</option>
        <br>
        {{/each}}
      </select>
    <br><br>
    Sales Person:<br>
      <select name="salesperson">
        {{#each salesreps}}
        <option value="{{salesrep_id}}" name="1">{{first_name}} {{last_name}}</option>
        <br>
        {{/each}}
      </select> 
      <input type="submit" value="Submit">
  </form>
</div>

<h3>Sales Reps</h3>
<div class="list-block">
    <table>
        <thead>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Salary</th>
        </thead>
        {{#each salesreps}}
        <tr>
            <td>{{first_name}}</td>
            <td>{{last_name}}</td>
            <td>{{salary}}</td>
            <td><a href="/salespeople/{{salesrep_id}}">Update</a></td>
            <td><button onclick="deleteSalesrep({{salesrep_id}})">Delete</button></td>
        </tr>
        {{/each}}
    </table>
</div>

<h3>List of Salespersons and their Customers</h3>
<div class="list-block">
    <table>
       <thead>
            <th>Salesperson</th>
            <th>Customer</th>
        </thead>
        {{#each customers_salesreps}}
        <tr>
            <td>{{repFirstName}} {{repLastName}}</td>
            <td>{{custFirstName}} {{custLastName}}</td> 
            <td><a href="/salespeople/{{cid}}{{sid}}">Update</a></td>
            <td><button onclick="disassociateRepCust({{cid}}, {{sid}})">Delete</button></td>   
        </tr>
        {{/each}}
    </table>
</div>

