<h1>Update {{proj_sales_reps.first_name}} {{proj_sales_reps.last_name}}:</h1>
<form id="update-salesrep" action="/salespeople" method="post">
    First name: <input type="text" name="first_name" value="{{proj_sales_reps.first_name}}"><br>
    Last name: <input type="text" name="last_name" value="{{proj_sales_reps.last_name}}"><br>
    Salary: <input type="number" name="salary" value="{{proj_sales_reps.salary}}"><br>
</form>
<button onclick="updateSalesRep({{proj_sales_reps.salesrep_id}})">Update</button>
